@charset "utf-8";
* {padding:0;margin:0}
html,body {height:100%}
body {background:#fafafa;font-family:"Minion Web Pro",serif}
a {
	color: #226;
	text-decoration: none;
}
a:hover {
	color: #448;
}
#header {
	padding: 20px 0 40px 40px;
	font-style: italic;
	border: 1px solid #bbb;
	border-bottom: 1px solid #aaa;
	border-top: none;
	box-shadow: 0 4px 25px rgba(0,0,0,.2);
	background: #fff;
	z-index: 9;
}
#header h1 {
	font-family: "Mercurius CT Std Medium",sans-serif;
	font-weight: 500;
	font-size: 56px;
}
#header h2 {
	font-family: "Mercurius CT Std Light",sans-serif;
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 32px;
}
#header h2 a img {
	opacity: .5;
}
#header h2 a:hover img {
	opacity: 1;
}
#main {
	min-height: 100%;
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
#footer {
	height: 30px;
	color: #888;
	position: absolute;
	bottom: 0;
	background: red;
}
article {
	width: 600px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	box-shadow: 0 4px 15px rgba(0,0,0,.2);
	padding: 25px;
	margin: 25px 10px;
	background: -webkit-linear-gradient(#fcfcfc, #fff);
	position: relative;
}
article h1 {
	font-family: "Mercurius CT Std Medium";
	font-weight: 500;
}
article .timestamp {
	opacity: .5;
	margin-bottom: 20px;
	font-size: 12px;
	font-style: italic;
}
article .comment-pointer {
	width: 30px;
	height: 50px;
	text-align: center;
	line-height: 52px;
	color: #888;
	font-style: italic;
	margin-top: 50%;
	top: -25px;
	right: -15px;
	position: absolute;
	background: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 -5px 9px -5px rgba(0,0,0,.2), 0 5px 9px -5px rgba(0,0,0,.2);
	-webkit-transition: all .2s ease-out
}
article .comment-pointer:hover {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	box-shadow: 0 -7px 11px -7px rgba(0,0,0,.2), 0 7px 11px -7px rgba(0,0,0,.2);
}
article p {
	margin-bottom: 1em;
	line-height: 1.5em;
	color: #222;
}
